* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

html {
    font-size: 16px;
    font-family: "M PLUS Rounded 1c";
    font-weight: 900;
}

body {
    background-color: gray;
}

#saitama-main {
    position: relative;
    height: 360px;
    width: 640px;
    background-color: white;
    overflow: hidden;
}

#saitama-main svg {
    pointer-events: visiblePainted;
}
